# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import Googapi_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Save file path to variable
humidity_csv = "../WeatherPy/weather_data.csv"
# Read with Pandas
humid_df = pd.read_csv(humidity_csv)
del humid_df["Unnamed: 0"]
humid_df.head()

,City,Lat,Lng,Temp,Humidity,Max Temp,Cloudiness,Wind Speed,Country,Date
0,Nome,64.50,-165.41,49.87,76,51.80,20,7.63,US,1598537180
1,Klaksvík,62.23,-6.59,53.60,87,53.60,39,10.29,FO,1598537180
2,Hambantota,6.12,81.12,86.00,74,86.00,20,10.29,LK,1598537180
3,Dublin,37.70,-121.94,55.69,82,59.00,90,3.36,US,1598537180
4,Bengkulu,-3.80,102.27,77.94,82,77.94,3,6.58,ID,1598537180

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=Googapi_key)

In [4]:
# Store 'Lat' and 'Lng' into  locations 
locations = humid_df[["Lat", "Lng"]].astype(float)
humidity = humid_df["Humidity"].astype(float)

In [5]:
# Customize the size of the figure
figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
Temp_df = humid_df.loc[(humid_df["Max Temp"] > 70) & (humid_df["Max Temp"] < 80)]
#Temp_df
Wind_df = Temp_df.loc[(Temp_df["Wind Speed"] <= 7.5)]
#Wind_df
perfect_df = Wind_df.loc[(Wind_df["Cloudiness"] == 0)]
#perfect_df

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = perfect_df.reset_index()
del hotel_df['index']
hotel_df["Hotel Name"] = ""
hotel_df

,City,Lat,Lng,Temp,Humidity,Max Temp,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Huangmei,30.19,116.03,75.07,85,75.07,0,4.43,CN,1598537105,
1,Jinji,23.23,110.83,77.59,64,77.59,0,1.57,CN,1598537184,
2,Yamada,39.47,141.95,76.62,86,76.62,0,6.71,JP,1598537203,
3,Grand Gaube,-20.01,57.66,73.00,73,73.00,0,5.99,MU,1598537213,
4,Derzhavīnsk,51.10,66.32,72.43,42,72.43,0,7.43,KZ,1598537216,
5,Cap Malheureux,-19.98,57.61,73.00,73,73.00,0,5.99,MU,1598537217,
6,Guerrero Negro,27.98,-114.06,73.74,79,73.74,0,0.76,MX,1598537225,
7,Dois Vizinhos,-25.73,-53.06,72.00,50,72.00,0,4.38,BR,1598537239,
8,Mingguang,32.78,117.96,73.02,92,73.02,0,3.65,CN,1598537272,
9,San Vicente,-26.62,-54.13,79.27,32,79.27,0,5.79,AR,1598537309,

In [8]:
#find the closest hotel to city location
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# params = {"location": ("32.83, 66"), "radius": 75000, "key": Googapi_key}
# response = requests.get(base_url, params=params)
# print(response.url)

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    location = str(row['Lat']) +',' + str(row['Lng'])
    params = {"location": location, "radius": 75000, "key": Googapi_key}

    # get city name from DF
    destcity = row['City']

    # add keyword to params dict
    params['keyword'] = destcity

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {destcity}.")
    response = requests.get(base_url, params=params).json()

    # extract results
    results = response['results']

    try:
        print(f"First {destcity} hotel result is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
    print("------------")

Retrieving Results for Index 0: Huangmei.
First Huangmei hotel result is Huangmei County.
------------
Retrieving Results for Index 1: Jinji.
First Jinji hotel result is Jinjizhen.
------------
Retrieving Results for Index 2: Yamada.
First Yamada hotel result is Yamada Denki.
------------
Retrieving Results for Index 3: Grand Gaube.
First Grand Gaube hotel result is Grand Gaube.
------------
Retrieving Results for Index 4: Derzhavīnsk.
First Derzhavīnsk hotel result is Derzhavinsk.
------------
Retrieving Results for Index 5: Cap Malheureux.
First Cap Malheureux hotel result is Cap Malheureux.
------------
Retrieving Results for Index 6: Guerrero Negro.
First Guerrero Negro hotel result is Guerrero Negro.
------------
Retrieving Results for Index 7: Dois Vizinhos.
First Dois Vizinhos hotel result is Dois Vizinhos.
------------
Retrieving Results for Index 8: Mingguang.
First Mingguang hotel result is Mingguang.
------------
Retrieving Results for Index 9: San Vicente.
First San Vicente hotel result is A San Vicente.
------------

In [9]:
hotel_df

,City,Lat,Lng,Temp,Humidity,Max Temp,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Huangmei,30.19,116.03,75.07,85,75.07,0,4.43,CN,1598537105,Huangmei County
1,Jinji,23.23,110.83,77.59,64,77.59,0,1.57,CN,1598537184,Jinjizhen
2,Yamada,39.47,141.95,76.62,86,76.62,0,6.71,JP,1598537203,Yamada Denki
3,Grand Gaube,-20.01,57.66,73.00,73,73.00,0,5.99,MU,1598537213,Grand Gaube
4,Derzhavīnsk,51.10,66.32,72.43,42,72.43,0,7.43,KZ,1598537216,Derzhavinsk
5,Cap Malheureux,-19.98,57.61,73.00,73,73.00,0,5.99,MU,1598537217,Cap Malheureux
6,Guerrero Negro,27.98,-114.06,73.74,79,73.74,0,0.76,MX,1598537225,Guerrero Negro
7,Dois Vizinhos,-25.73,-53.06,72.00,50,72.00,0,4.38,BR,1598537239,Dois Vizinhos
8,Mingguang,32.78,117.96,73.02,92,73.02,0,3.65,CN,1598537272,Mingguang
9,San Vicente,-26.62,-54.13,79.27,32,79.27,0,5.79,AR,1598537309,A San Vicente

In [10]:
#Save out DF for starting point going forward
# Output to CSV file
hotel_df.to_csv("hotel_df.csv")

In [11]:
#Bring in CSV for starting point
hotel_csv = "hotel_df.csv"
hotel_df = pd.read_csv(hotel_csv)
del hotel_df["Unnamed: 0"]
hotel_df

,City,Lat,Lng,Temp,Humidity,Max Temp,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Huangmei,30.19,116.03,75.07,85,75.07,0,4.43,CN,1598537105,Huangmei County
1,Jinji,23.23,110.83,77.59,64,77.59,0,1.57,CN,1598537184,Jinjizhen
2,Yamada,39.47,141.95,76.62,86,76.62,0,6.71,JP,1598537203,Yamada Denki
3,Grand Gaube,-20.01,57.66,73.00,73,73.00,0,5.99,MU,1598537213,Grand Gaube
4,Derzhavīnsk,51.10,66.32,72.43,42,72.43,0,7.43,KZ,1598537216,Derzhavinsk
5,Cap Malheureux,-19.98,57.61,73.00,73,73.00,0,5.99,MU,1598537217,Cap Malheureux
6,Guerrero Negro,27.98,-114.06,73.74,79,73.74,0,0.76,MX,1598537225,Guerrero Negro
7,Dois Vizinhos,-25.73,-53.06,72.00,50,72.00,0,4.38,BR,1598537239,Dois Vizinhos
8,Mingguang,32.78,117.96,73.02,92,73.02,0,3.65,CN,1598537272,Mingguang
9,San Vicente,-26.62,-54.13,79.27,32,79.27,0,5.79,AR,1598537309,A San Vicente

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# Add marker layer ontop of heat map

# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the layer to the map
fig.add_layer(markers)
#hotel_info
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [ ]:
#Save screenshot to Excel