# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import Googapi_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Save file path to variable
humidity_csv = "../WeatherPy/weather_data.csv"
# Read with Pandas
humid_df = pd.read_csv(humidity_csv)
del humid_df["Unnamed: 0"]
humid_df.head()

,City,Lat,Lng,Temp,Humidity,Max Temp,Cloudiness,Wind Speed,Country,Date
0,Bethel,41.37,-73.41,59.97,72,62.01,1,3.56,US,1598496275
1,Cape Town,-33.93,18.42,52.59,81,54.00,0,1.12,ZA,1598496263
2,Bambous Virieux,-20.34,57.76,66.58,93,66.99,75,9.17,MU,1598496315
3,Los Llanos de Aridane,28.66,-17.92,75.20,94,75.20,20,9.17,ES,1598496251
4,Jamestown,42.10,-79.24,66.02,93,66.99,75,5.82,US,1598496057

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=Googapi_key)

In [4]:
# Store 'Lat' and 'Lng' into  locations 
locations = humid_df[["Lat", "Lng"]].astype(float)
humidity = humid_df["Humidity"].astype(float)

In [5]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
Temp_df = humid_df.loc[(humid_df["Max Temp"] > 70) & (humid_df["Max Temp"] < 80)]
#Temp_df
Wind_df = Temp_df.loc[(Temp_df["Wind Speed"] <= 7.5)]
#Wind_df
perfect_df = Wind_df.loc[(Wind_df["Cloudiness"] == 0)]
#perfect_df

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = perfect_df.reset_index()
del hotel_df['index']
hotel_df["Hotel Name"] = ""
hotel_df

,City,Lat,Lng,Temp,Humidity,Max Temp,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Mozarl√¢ndia,-14.74,-50.57,72.93,20,72.93,0,6.71,BR,1598496738,
1,Kiryat Gat,31.61,34.76,71.29,81,73.99,0,4.63,IL,1598496316,
2,Dahuk,36.87,42.99,72.64,25,72.64,0,4.25,IQ,1598496743,
3,Ponta do Sol,32.67,-17.10,76.06,51,77.00,0,2.73,PT,1598496251,
4,Portland,45.52,-122.68,73.83,57,75.99,0,1.01,US,1598496618,
5,Xingyi,24.19,102.82,75.72,61,75.72,0,4.14,CN,1598496761,
6,Yuci,37.68,112.73,71.60,64,71.60,0,2.24,CN,1598496770,
7,Jardim,-21.48,-56.14,72.75,54,72.75,0,5.79,BR,1598496775,
8,Beyneu,45.32,55.20,74.95,23,74.95,0,1.52,KZ,1598496776,
9,S√£o Miguel do Araguaia,-13.28,-50.16,76.15,29,76.15,0,3.44,BR,1598496781,
10,Yong‚Äôan,39.70,113.69,76.01,43,76.01,0,4.03,CN,1598496784,
11,Nouadhibou,20.93,-17.03,78.80,78,78.80,0,2.24,MR,1598496314,
12,Coruripe,-10.13,-36.18,70.70,79,70.70,0,6.80,BR,1598496788,

In [8]:
#find the closest hotel to city location
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# params = {"location": ("32.83, 66"), "radius": 75000, "key": Googapi_key}
# response = requests.get(base_url, params=params)
# print(response.url)

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    location = str(row['Lat']) +',' + str(row['Lng'])
    params = {"location": location, "radius": 75000, "key": Googapi_key}

    # get city name from DF
    destcity = row['City']

    # add keyword to params dict
    params['keyword'] = destcity

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {destcity}.")
    response = requests.get(base_url, params=params).json()

    # extract results
    results = response['results']

    try:
        print(f"First {destcity} hotel result is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
    print("------------")

Retrieving Results for Index 0: Mozarl√¢ndia.
First Mozarl√¢ndia hotel result is Mozarl√¢ndia.
------------
Retrieving Results for Index 1: Kiryat Gat.
First Kiryat Gat hotel result is Kiryat Gat.
------------
Retrieving Results for Index 2: Dahuk.
First Dahuk hotel result is Duhok.
------------
Retrieving Results for Index 3: Ponta do Sol.
First Ponta do Sol hotel result is Ponta Do Sol.
------------
Retrieving Results for Index 4: Portland.
First Portland hotel result is Portland.
------------
Retrieving Results for Index 5: Xingyi.
Missing field/result... skipping.
------------
Retrieving Results for Index 6: Yuci.
First Yuci hotel result is Yuci District.
------------
Retrieving Results for Index 7: Jardim.
First Jardim hotel result is Jardim.
------------
Retrieving Results for Index 8: Beyneu.
First Beyneu hotel result is Beyneu.
------------
Retrieving Results for Index 9: S√£o Miguel do Araguaia.
First S√£o Miguel do Araguaia hotel result is S√£o Miguel do Araguaia.
------------
Retrieving Results for Index 10: Yong‚Äôan.
Missing field/result... skipping.
------------
Retrieving Results for Index 11: Nouadhibou.
First Nouadhibou hotel result is Nouadhibou.
------------
Retrieving Results for Index 12: Coruripe.
First Coruripe hotel result is Usina Coruripe.
------------

In [9]:
hotel_df

,City,Lat,Lng,Temp,Humidity,Max Temp,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Mozarl√¢ndia,-14.74,-50.57,72.93,20,72.93,0,6.71,BR,1598496738,Mozarl√¢ndia
1,Kiryat Gat,31.61,34.76,71.29,81,73.99,0,4.63,IL,1598496316,Kiryat Gat
2,Dahuk,36.87,42.99,72.64,25,72.64,0,4.25,IQ,1598496743,Duhok
3,Ponta do Sol,32.67,-17.10,76.06,51,77.00,0,2.73,PT,1598496251,Ponta Do Sol
4,Portland,45.52,-122.68,73.83,57,75.99,0,1.01,US,1598496618,Portland
5,Xingyi,24.19,102.82,75.72,61,75.72,0,4.14,CN,1598496761,
6,Yuci,37.68,112.73,71.60,64,71.60,0,2.24,CN,1598496770,Yuci District
7,Jardim,-21.48,-56.14,72.75,54,72.75,0,5.79,BR,1598496775,Jardim
8,Beyneu,45.32,55.20,74.95,23,74.95,0,1.52,KZ,1598496776,Beyneu
9,S√£o Miguel do Araguaia,-13.28,-50.16,76.15,29,76.15,0,3.44,BR,1598496781,S√£o Miguel do Araguaia
10,Yong‚Äôan,39.70,113.69,76.01,43,76.01,0,4.03,CN,1598496784,
11,Nouadhibou,20.93,-17.03,78.80,78,78.80,0,2.24,MR,1598496314,Nouadhibou
12,Coruripe,-10.13,-36.18,70.70,79,70.70,0,6.80,BR,1598496788,Usina Coruripe

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure